# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
auxTool-frontEnd-main/数值数据集/任务1/33/444.csv
auxTool-frontEnd-main/xml/123.xml
auxTool-frontEnd-main/xml/123.xml
auxTool-frontEnd-main/xml/123.xml
auxTool-frontEnd-main/图像数据集/自然图像/45/loss.csv
auxTool-frontEnd-main/数值数据集/任务1/33/loss.csv
data/data.json
data/data.json
data/data.json
data/config.json
/auxTool-frontEnd-main/A领域
/auxTool-frontEnd-main/A领域
