# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.cursorindexingignore
AI_Tool_Dify_Front/README.md
AI_Tool_Dify_Front/package.json
.gitignore
AI_Tool_Dify_Front/package-lock.json
.specstory/history/2025-07-03_16-34Z-发布部署vite-vue和gin框架应用.md
.specstory/history/2025-08-31_10-19Z-解读auxtool项目的前后端结构.md
